/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/*hide free shipping text in mobile version*/
@media (max-width:768px){
	#hide{
		display:none;
	}
}

.ar-button{
	display:none;
    width: 40px;
    height: 30px;
    float: left;
    left: 5px;
}

.header-size-sm #header-wrap #logo img {
    height: 52px !important;
}

@media only screen and (min-width: 768px){
	ul .catego li{
		display: inline-block !important;
	}
}

/* #hide1{
	display:none;
} */

.atc button:hover{
	background-color:aqua;
}